# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment / Secrets
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python distribution
*.egg-info/
dist/
build/